*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  text-decoration: none;
  list-style: none;
}
body{
  font-weight:bold;
}
@media (min-width:576px){
  #search_baar{
    border-radius: 65px;
    border: 2px solid #f44154;
    padding: 20px;
    height: 19px;
    background-color: #f44154;
    font-size: 17px;
    cursor: pointer;
    border: none;
    transition: 0.4s;
    margin-left:171%;
    margin-top:-7%;
    display:none;
  
  }
  }
@media(max-width:800px;){
  .showing_button{
    background-color:#f44154;
  }
}

@media(max-width:1200px;){
  .socialicons{
    background-color: #f44154;
    word-spacing:90px!important;

  }
}

@media(max-width:900px){
  html,body{
    width:100vw;
    height:100vh;
    margin:0px;
    padding:0px;
    overflow-x:hidden;
  
  }
}
.tour_bg{
  background-color:#f2f7fb;
}
@media(min-width:576){
  .tour_places{
    width:100%;
    background-color: #1aa3e8;
  }
}

 .head-top{
   margin:60%;
 }
// @media all and(max-width:900px){
//   #rcorners {
//     border-radius: 65px;
//     border:3px solid #808080;
//     padding: 20px;
//     height: 45px;
//     width:250px;
//     margin-left:-7%!important;
//     margin-top:3%;
//   }
// }
@media (min-width:576px){
.head-top.socialicons, .fa-2x {
    margin: 7%;
}
}


@media (min-width:576px){
.logo{
  width:100%;
  
  
}
nav ul li a{
  font-size: 16px;
  text-decoration:none;
}
}

@media (min-width:576px){
#search_baar{
  border-radius: 65px;
  border: 2px solid #f44154;
  padding: 20px;
  height: 19px;
  background-color: #f44154;
  font-size: 17px;
  cursor: pointer;
  border: none;
  transition: 0.4s;
  margin-left:171%;
  margin-top:-7%;
  display:none;

}
}
@media(min-width:576px){
#search_baar-button{
  display:none;

}
}
@media(min-width:576px){
#search_baar {
border-radius: 65px;
border:3px solid #808080;
padding: 20px;
height: 45px;
width:250px;
margin-left:164%;
margin-top:-27%; 
display:none;
} 


}
@media(min-width:768px){
  #search_baar {
  border-radius: 65px;
  border:3px solid #808080;
  padding: 20px;
  height: 45px;
  width:250px;
  margin-left:164%;
  margin-top:-27%; 

  } 
  
  }
@media (max-width: 858px){
.checkbtn{
  display: block;
}
ul{
  position: fixed;
  width: 100%;
  height: 100vh;
  background: #fff;
  top: 80px;
  left: -100%;
  text-align: center;
  transition: all .5s;
}
nav ul li{
  display: block;
  margin: 50px 0;
  line-height: 30px;
}
nav ul li a{
  font-size: 20px;
  text-decoration:none;
}
a:hover,a.active{
  background: none;
  color: #808080;
}
#check:checked~ul{
  left: 0;
}
}

#search_baar {
border-radius: 65px;
border:3px solid #808080;
padding: 20px;
height: 45px;
width:250px;
margin-left:164%;
margin-top:-27%; 
} 

#search_baar-button{
  border-radius: 65px;
  border: 2px solid #f44154;
  padding: 20px;
  height: 19px;
  background-color: #f44154;
  font-size: 17px;
  cursor: pointer;
  border: none;
  transition: 0.4s;
  margin-left:449%;
  margin-top:-24%;
}
#search_baar-button p{
font-weight: 500;
margin-top:-13px;
}

#search_baar-button:hover {
background-color:#1aa3e8;

} 
.slide{
background-image:url("../images/banner1.png") ;
width:100%;
height:506px;
background-position:center;
background-repeat:no-repeat;
background-size:cover;
margin-top:2%;
}
.socialicons{
word-spacing: 127px;
}

@media(min-width:576px){
.slide{
  background-image:url("../images/banner1.png");
  width:100%;
  height:506px;
  background-position:center;
  background-repeat:no-repeat;
  background-size:cover;
  margin-top:9%;
}
html,body{
  width:100%;
  height:100%;
  margin:0px;
  padding:0px;
  overflow-x:hidden;

}
.border_sof1{
  width:50%;
  background-color: #811111;
}


}
@media(max-width:800px){
  html,body{
    width:100%;
    height:100%;
    margin:0px;
    padding:0px;
    overflow-y:hidden;
    
} 
@media(min-width:768px){
  .slide{
    background-image:url("../images/banner1.png");
    width:100%;
    // height:506px;
    background-position:center;
    background-repeat:no-repeat;
    background-size:cover;
 
  }
  html,body{
    width:100%;
    height:100%;
    margin:0px;
    padding:0px;
    overflow-x:hidden;
  
  }
  
  
  } 
.head-top p {
margin-top:28px;
background-color: #1aa3e8;
 
}

#rcorners2 {
border-radius:65px;
border: 2px solid #f44154;
padding: 20px; 
height:19px; 
background-color: #f44154; 
font-size:17px ;
cursor: pointer;
border:none;
transition:0.4s;
display:none;
// margin-left:311%;
// margin-top:-16%;

#rcorners2 p{
margin-top:-55px;
text-align: center;
font-weight: 500;
}

}
#rcorners2:hover {
background-color: #4da1f4;
}

.navbar-nav ul li a:hover{
color: #f44154;
}

// .head-top h1 {
// margin-top: 18%;
// font-size: 76px;
// font-weight: bold;
// color: #fff;
// margin-left:68%;
// }

// #rcorners {
//   border-radius: 65px;
//   border:3px solid #808080;
//   padding: 20px;
//   height: 45px;
//   width:250px;
//   margin-left:0%;
// }
.footer,ul li a{
text-decoration:none;
color:#808080;
}
.footer ul li a:hover{
color:#f44154;
}
.footer{
background-color: #000000
width:100%;
height:auto;


}
.footer_bg{
  width:100%;
  background-color: #000000;
  height:506px;
}
.booking{
width:100%!important;
height:100px;
background-color: aqua;
}
.booking,#rcorners_8{
border-radius: 65px;
border: 2px solid #140101;
padding: 20px;
height: 45px;
width: 270px !important;
}
.navbar {
height:90px;
}
.cards_top{
margin-top:30%;
}
.tour_place{
margin-top:-120% ;
}

#myBtn {
display: none;
position: fixed;
bottom: 20px;
right: 30px;
z-index: 99;
font-size: 18px;
border: none;
outline: none;
background-color:#f44154;
color: white;
cursor: pointer;
padding: 15px;
border-radius:50%;

}
#myBtn:hover {
background-color: #555;
}


#rcorners_footer {
border-radius: 65px;
border:2px solid #808080d9;
padding: 20px;
height: 45px;
width:58%;
margin-left:2%;
background-color:#fff;
}
#rcorners_footer2 {
border-radius: 65px;
border: 3px solid #f44154;
padding: 20px;
height: 49px;
width: 43%;
margin-left: 48%;
margin-top: -10%;
background-color: #f44154;
cursor:pointer;
transition:0.4s;
text-align: center;

}
@media all and(max-width:900px){
#rcorners_footer2 {
  border-radius: 65px;
  border: 3px solid #f44154;
  padding: 20px;
  height: 45px;
  width: 43%;
  margin-left: 48%;
  margin-top: -13%;
  background-color: #f44154;
  cursor:pointer;
  transition:0.4s;
}
}
#rcorners_footer2:hover{
background-color:#1aa3e8;
border: 3px solid #1aa3e8;
transition:0.4s;

}
#rcorners_footer p{
margin-left:10%;
margin-top:-5%;
}

#rcorners_footer2 p{
margin-top:-11%;
}

#rcorners_footer{
margin-top:10px;
}

.border_socialicon1 {
background-color: #d8e5ee;
border-radius: 50%;
padding: 11px;
width: 39px;
cursor: pointer;
color: #555555;
transition:0.4s;
margin-left:8%;
}
.border_socialicon1:hover{
background-color:#f44154;
color:#fff;
transform:0.4s;

}
.border_socialicon2:hover{
background-color:#f44154;
color:#fff;

}
.border_socialicon3:hover{
background-color:#f44154;
color:#fff;

}
.border_socialicon4:hover{
background-color:#f44154;
color:#fff;

}
#Socially1{
font-size:20px;
margin-left:19px;
color: #808080;
}
#Socially1:hover{

color: #811111!important;
}
#Socially2{
font-size:20px;
margin-right:19px;
color: #808080;
margin-left:70%;
}
#Socially4{
margin-left:110%;
color: #555555;
}
#Socially4:hover{
margin-left:110%;
color: #555555;
}

@media(max-width:800px){
  .border_socialicon1{
    background-color:#d8e5ee;
    border-radius: 50%;
    padding: 11px;
    width: 39px;
    cursor: pointer;
    color: #555555;
    transition:0.4s;
    margin-left:8%;
    }
  }

.border_socialicon2{
background-color: #d8e5ee;
border-radius: 50%;
padding: 11px;
width: 39px;
cursor: pointer;
color: #555555;
margin-left:16%;
}

@media (max-width:800px){
  .footer_center h6,list-unstyled{
    text-align:center;
  }
}
@media all and(max-width:900px){
.border_socialicon2{
  background-color: #d8e5ee;
  border-radius: 50%;
  padding: 11px;
  width: 39px;
  cursor: pointer;
  color: #555555;
  margin-left:30%;
}
}
@media all and(max-width:900px){
#card_place{
  margin-top:-19%;
}
#card_place{
  margin-top:-19%!important;
}
}

.border_socialicon3{
background-color: #d8e5ee;
border-radius: 50%;
padding: 11px;
width: 39px;
cursor: pointer;
color: #555555;
margin-left:12%;
}

@media(max-width:800px){
  .border_socialicon3 {
    background-color: #d8e5ee;
    border-radius: 50%;
    padding: 11px;
    width: 39px;
    cursor: pointer;
    color: #555555;
    margin-left:6%;
  }

}
// @media all and(max-width:900px){
// #socially3{
//   margin-left:82% ;
//   color: #808080;
// }
.border_socialicon3 {
  background-color: #d8e5ee;
  border-radius: 50%;
  padding: 11px;
  width: 39px;
  cursor: pointer;
  color: #555555;
  margin-right: 18%;
  margin-top: 8%;
}


}


.border_socialicon4{
background-color: #d8e5ee;
border-radius: 50%;
padding: 11px;
width: 39px;
cursor: pointer;
color: #555555;
margin-left:-7%;
}
@media (max-width:800px){
.border_socialicon4{
  background-color: #000000;
  border-radius: 50%;
  margin-left:7%;
  }
}

#Subcribe_button{
background-color: yellow;
border-radius:50%;
width:200px;
padding:50px;
border:none;
margin-left:54%;
}
@media all and(max-width:900px){
iframe{
  height:505px;
  background-color: #140101;
} 

}
@media all and(max-width:900px){
#border_sof{
   background-color: #140101;

    
  }
}    
  
#card_place:hover{
  box-shadow: 0px 0px 50px 0px rgb(0 0 0 / 20%);

  }

  .info{
    padding:1rem;
  }
}
#Socially3{
margin-left:99%;
color: #808080;
}
.google-play-icon{
margin-bottom:4%;
}
.footer_connect_socially{
margin-left:8%;

}
@media all and (max-width: 900px){
.border_sof {
  margin-right: -40%;
  float: right;
 
}
}
@media all and (max-width: 900px){
.border_sof1 {
    margin-left: -168%;
    margin-top: 40%!important;
  
}
}
.tour_circle{
float: left;
background-color: #140101;
}


.showing_button ul{
 display:flex;
 text-decoration:none;
}
.navbar-brand{
margin-left:-5%;
}
@media all and (max-width:900px){
 .navbar-toggler:focus {
   outline: 0;
   box-shadow: 0 0 0 0rem;
}
 .navbar-toggler{
  box-shadow: 0 0 0 0rem;
}
 #navbarSupportedContent{
 background-color: #fff;
}
}
@media all and(max-width:900px){
   background-color: #1aa3e8;
 }
 .navbar-light .navbar-toggler {
   color: rgba(0,0,0,.55);
  border-color: rgba(0,0,0,.1);
}

 @media(max-width:800px) {
  .head-top h1 {
    font-size: 76px;
     font-weight: bold;
       color: #fff;
         margin-left:90%;
         width:86%;
   

   }
   .head-top p{
     width:94%;
     text-align: justify;
   }



}
@media(max-width:800px;){
  .footer_content p{
    margin-left:15%;
    background-color: #1aa3e8;
  }
}

.footer_bg{
  width:100%;
  background-color: #140101;
}
@media(min-width:1300px){
  .head-top h1 {
    font-size: 76px;
    font-weight: bold;
    text-align: center;
    font-family:monospace;
    margin-top:20%;
    font-weight:600;
    text-align: right;

  }  

}

@media(max-width:1200px){
  #search_baar {
    border-radius: 65px;
    border: 3px solid #aa0000;
    padding: 20px;
    height: 45px;
    width: 250px;
    margin-left: 164%;
    margin-top: -27%;
}
}

/*start media query for slider content */
@media screen and (max-width:992px){
  .head-top h1 {
    font-size: 76px;
    font-weight: bold;
    margin-right:10%;
    font-family:monospace;
    margin-top:20%;
    font-weight:600;
    text-align: center;
    width:41%;

    
   

  }
  .head-top p {
    color: rgba(255, 0, 0, 0.63);
    font-size: 26px;
    width:156%;
    margin:auto;
    display: block;
}

  .socialicons {
    word-spacing: 116px;
    padding:10%;
}
}
  

/*end media query for slider content */

@media(max-width:800px){
  .showing_button ul{
    display: contents;
  }
}